@{
    ViewData["Title"] = "What_can_I_do";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="menu">
        <div><li class="containerre">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SimpleTasks">Simple Tasks</a>
           </li>
        </div>
        <div>
            <li class="containerre">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SimpleTasks">Simple Tasks</a>
            </li>
        </div>
        <div>
            <li class="containerre">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="MyToDoList">My To Do List</a>
            </li>
        </div>
        <div>
            <li class="containerre">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SimpleTasks">Simple Tasks</a>
            </li>
        </div>
        <div>
            <li class="containerre">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SimpleTasks">Simple Tasks</a>
            </li>
        </div>
        <div>
            <li class="containerre">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SimpleTasks">Simple Tasks</a>
            </li>
        </div>
        <div>
            <li class="containerre">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SimpleTasks">Simple Tasks</a>
            </li>
        </div>
        <div>
            <li class="containerre">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SimpleTasks">Simple Tasks</a>
            </li>
        </div>
        <div>
            <li class="containerre">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SimpleTasks">Simple Tasks</a>
            </li>
        </div>
    </div>

</div>
