
@{
    ViewData["Title"] = "Simple tasks";
}


<div class="divCheckPIN">


    <form>
        <label for="fname">Eeter pin code</label>
        <input class="inputCheckPIN" type="password" id="fname" name="pIN" value="">@ViewBag.Message<Br>
        <input type="submit">
    </form>

</div>




