@using What_can_I_do_.Models
@model IEnumerable<CheckPIN>
@{
    ViewData["Title"] = "Simple tasks";
}

<div method="post">
    <h1>

        <input type="text" name="pIN" value="" />
        <input type="submit" value="Submit" class="submit" />
        
    </h1>
    
</div>


